/* Footer */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 40px;
}
.footer-links li {
    display: inline;
    margin-right: 20px;
}
#copyright {
    float: right;
    margin-right: 0;
    color: #999999;
}
