/* navbar */
.navbar-default {
    border-width: 0 0 4px 0;
    border-color: #2980b9;
    border-radius: 0;
    background-color: #3498db;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
    font-size: 28px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* link */
.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
    color: white;
    border-bottom: 4px solid white;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: inherit;
    border-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
.loginButton {
    color: rgba(255, 255, 255, 0.75);
    background-color: inherit;
    border-color: rgba(255, 255, 255, 0.75);
}
.loginButton:hover,
.loginButton:focus {
    color: white;
    background-color: inherit;
    border-color: white;
}
.loginButton:active:focus {
    background-color: inherit;
    outline: none; !important;
    outline-style: none;
    border-color: white;
    color: white;
}
/* Changes Navbar height */
.navbar-brand,
.navbar-right,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.navbar-btn {
    color: white;
    border: 2px solid white;
    margin: 0;
}
.navbar-btn:hover,
.navbar-btn:focus,
.navbar-btn:active {
    color: #3498db;
    background-color: white;
}
