html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
    background-color: rgb(246, 246, 246);
}

/* Links */
a {
    color: #64B5F6;
}
a:hover,
a:focus {
    color: #2196F3;
    text-decoration: none;
}

.footer-links a {
    color: #777;
}
.footer-links a:hover,
.footer-links a:focus {
    color: #333;
}

/* All panels */
.panel-default > .panel-heading {
    background-color: #ccc;
}
.panel-default > .panel-body {
    margin: 0;
    padding: 0;
}
.panel-default > .panel-footer {
    background-color: white;
}
.panel {
    box-shadow: 0 2px 3px #aaa;
    border: none;
}
.itemChecked {
    opacity: 0.5;
    text-decoration: line-through;
}

/* Dashboard panels */
.week {
    display: flex;
    flex-direction: row;
    margin: 0 -10px;
}
.day {
    width: calc(100% / 7);
    margin: 0 calc(15px / 2);
}
.pastDay > .panel-heading {
    opacity: 0.5;
}
.pastDay > .panel-body {
    opacity: 0.5;
}
.pastDay > .panel-footer {
    opacity: 0.5;
}
.presentDay > .panel-heading {
    color: white;
    background-color: #4CAF50;
    /*border-color: #4CAF50;*/
}
.futureDay > .panel-heading {
    color: white;
    background-color: #2196F3;
    /*border-color: #2196F3;*/
}

/* Day items */
.itemsList {
    margin: 0;
    padding-left: 30px;
}
.item {
    margin: 0;
    padding: 0;
}
.noItemsMessage {
    margin: 10px;
    color: #999;
}

/* Week nav buttons */
.weekNavButtons {
    float: right;
}
.weekSelector {
    display: inline;
    width: 125px;
    vertical-align: middle;
}

/* Goals */
.goalsPanel > .panel-heading {
    color: white;
    background-color: #f44336;
    /*border-color: #f44336;*/
    font-weight: bold;
}
.noGoalsMessage {
    margin: 35px;
    text-align: center;
}
.noGoalsMessage .subMessage {
    margin-top: 10px;
    color: #999;
    font-size: 18px;
}
.goalButtons {
    float: right;
}

/* Accomplishments */
.accomplishmentsPanel > .panel-heading {
    color: white;
    background-color: #3F51B5;
    font-weight: bold
}
.noAccomplishmentsMessage {
    margin: 35px;
    text-align: center;
}
.noAccomplishmentsMessage .subMessage {
    margin-top: 10px;
    color: #999;
    font-size: 18px;
}
.accomplishmentsButtons {
    float: right;
}
.accomplishmentText {
    font-style: italic;
    font-weight: bold;
}
.glyphicon-star {
    color: #FFC107;
}
.completedDate {
    font-weight: bold;
    color: #999;
    float: right;
}
