body {
    background-color: rgb(246, 246, 246);
}

/* Links */
a {
    color: #64B5F6;
}
a:hover,
a:focus {
    color: #2196F3;
    text-decoration: none;
}

.footer-links a {
    color: #777;
}
.footer-links a:hover,
.footer-links a:focus {
    color: #333;
}

/* Dashboard panels */
.week {
    display: flex;
    flex-direction: row;
}
.day {
    width: calc(100% / 7);
}
