body {
    background: url('/basic.png');
    background-repeat: repeat;
}

.itemChecked {
    opacity: 0.5;
    text-decoration: line-through;
}
.weekInfo {
    padding: 15px;
}

/* Dashboard panels */
.week {
    display: flex;
    flex-direction: row;
    margin: 0 calc(15px / 2);
}
.sevenDayWeek {
    width: calc(100% / 7);
    margin: 0 calc(15px / 2);
}
.fiveDayWeek {
    width: calc(100% / 5);
    margin: 0 calc(15px / 2);
}

/* Day items */
.itemsList {
    margin: 0;
    padding-left: 30px;
}
.item {
    margin: 0;
    padding: 0;
}

.day.panel .panel-body {
    position: relative;
}

.no-items {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #999;
}

/* The smile icon */
.no-items i {
    font-size: 40px;
    margin-bottom: 8px;
}

/* Week nav buttons */
.weekNavButtons {
    float: right;
}
.weekSelector {
    display: inline;
    width: 125px;
    vertical-align: middle;
}

/* Goals */
.goalsContainer {
    display: flex;
    flex-direction: row;
    margin: 0 -10px;
    margin-bottom: 20px;
}
.goalsPanel {
    width: calc(100% / 1);
    margin: 0 10px;
}
.goalsPanel .panel-heading {
    font-weight: bold;
}
.goalsPanel .panel-body {
    min-height: 0;
    padding: 0;
}
.goalDate {
    font-weight: bold;
    color: #999;
    float: right;
    margin-right: 15px;
}

/* Accomplishments */
.accomplishmentsPanel .panel-heading {
    font-weight: bold;
}
.accomplishmentsPanel .panel-body {
    min-height: 0;
    padding: 0;
}
.accomplishmentsButtons {
    float: right;
}
.accomplishmentText {
    font-style: italic;
    font-weight: bold;
}
.fa-star {
    color: #f1c40f;
}
.completedDate {
    font-weight: bold;
    color: #999;
    float: right;
}

/* No goals or accomplishments message */
.no-goals-accomplishments {
    padding: 0;
    text-align: center;
    margin: 35px;
}
.no-goals-accomplishments .subMessage {
    margin-top: 10px;
    color: #999;
    font-size: 18px;
}
