<div class="container">
    <h1>About Weekly Planner</h1>
    <hr>
    <p>
        Weekly Planner has been designed to be a simple and easy to use planner app that presents all your tasks for the week in one simple view, and allows the user to plan out ahead, and also look back to see what he has accomplished. A large part of Weekly Planner is to give the user one place to see all his goals, and then be able to plan out what needs to happen to reach those goals, and then complete them. Weekly Planner also has a page devoted to displaying your accomplishment record from the goals you have completed. A recent addition is the Notes page, which now gives you a convienent place to type up some quick note when you are planning out your week.
    </p>
    <p>
        If you like this project, you can check us out on Github at  <a href="https://github.com/cmspencer109/dashboard">Weekly Planner on Github</a>
    </p>
</div>
