<div class="container">
    <h1>About Dashboard</h1>
    <hr>
    <p>
        Dashboard is designed to be a simple and easy to use goal management app. The idea is to have one place where you can look to see all of your objectives in one place, and then be able to plan out what you need to do each day and each week to reach that objective. Dashboard also provides a place to view all your achievements you have completed, thus providing the user with a sense of accomplishment.
    </p>
    <p>
        If you are interested in contributing to the project, check us out at <a href="https://github.com/cmspencer109/dashboard">Dashboard on Github</a>
    </p>
</div>
