<div class="container">
    <h2>Accomplishments</h2>
    <br>
    <div class="panel panel-success accomplishmentsPanel">
        <div class="panel-heading">
            Accomplishments list
        </div>
        <ul class="list-group">
            <li class="list-group-item goal" ng-repeat="accomplishment in accomplishments track by $index">
                <span class="glyphicon glyphicon-star"></span><span class="accomplishmentText"> {{accomplishment}}</span><span class="completedDate">4-13-2016</span>
            </li>
        </ul>
        <div class="panel-body">
            <h3 class="noAccomplishmentsMessage" ng-show="accomplishments.length === 0">You have no accomplishments!<div class="subMessage">Go set some goals so you can accomplish something!</div></h3>
        </div>
    </div>
</div>
