<div class="container">
    <h2>Accomplishments</h2>
    <br>
    <div class="panel panel-success accomplishments-panel">
        <div class="panel-heading">
            Accomplishments Record
            <span style="float: right;">4 Accomplishments</span>
        </div>
        <ul class="list-group">
            <li class="list-group-item goal" ng-repeat="accomplishment in accomplishments track by $index">
                <i class="fa fa-star" aria-hidden="true"></i>
                <span class="accomplishment-text"> {{accomplishment}}</span>
                <span class="completed-date">4-13-2016</span>
            </li>
        </ul>
        <div class="panel-body">
            <h3 class="no-goals-accomplishments" ng-show="accomplishments.length === 0">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                You have no accomplishments!
                <div class="sub-message">Go set some goals so you can accomplish something!</div>
            </h3>
        </div>
    </div>
</div>
