<div class="week-info">
    <h2 style="display: inline;">{{startMonth}} {{startOfWeek}} - {{endMonth}} {{endOfWeek}}</h2>

    <span class="week-nav-buttons">

        <!-- <span style="margin-right: calc(15px / 2);">Go To Date:</span>
        <form action="" class="form-inline" style="display: inline;">
            <div class="form-group">
                <div class="input-group" style="width: 220px;">
                    <input type="text" class="form-control" placeholder="e.g. MM-DD-YYYY" ng-model="goToDate"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="goToDate(goToDate)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form> -->

        <select class="form-control week-nav-btn week-selector" ng-model="weekLength" ng-change="weekLengthChanged(weekLength)">
            <option ng-repeat="item in weekLengthOptions" value="{{item.value}}">{{item.name}}</option>
        </select>
        <button class="btn btn-primary week-nav-btn" ng-click="currentWeek()">
            This Week
        </button>
        <button class="btn btn-default week-nav-btn" ng-click="previousWeek()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
        <button class="btn btn-default" ng-click="nextWeek()">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
    </span>
</div>

<div class="week">
    <div ng-repeat="day in week" ng-class="{'seven-day-week': day.weekLength == 7, 'five-day-week': day.weekLength == 5}">
        <div class="day panel panel-default" ng-class="{'panel-default': day.type == 'past', 'panel-success': day.type == 'present', 'panel-info': day.type == 'future'}">
            <div class="panel-heading" ng-click="viewDay(day)">
                {{day.date}}
                <span style="float: right;">
                    <span ng-show="weekLength == 7">
                        {{(items|filter:{dateItemGoesTo:day.moment}).length}}
                    </span>
                    <span ng-show="weekLength == 5">
                        {{(items|filter:{dateItemGoesTo:day.moment}).length}}
                        <span ng-show="(items|filter:{dateItemGoesTo:day.moment}).length === 1">
                             Item
                        </span>
                        <span ng-show="(items|filter:{dateItemGoesTo:day.moment}).length !== 1">
                             Items
                        </span>
                    </span>
                </span>
            </div>
            <div class="panel-body" style="padding: 0;">
                <ul class="items-list" style="list-style: none; margin-left: 0;">
                    <li class="item" ng-repeat="item in items | filter:{dateItemGoesTo:day.moment}:true">

                        <div class="checkbox">
                            <!-- <input type="checkbox" value="" ng-model="value"> -->

                            <i ng-show="!item.checked" ng-click="checkItem(item)" class="fa fa-square-o" aria-hidden="true" style="margin-right: calc(15px/2);"></i>

                            <i ng-show="item.checked" ng-click="checkItem(item)" class="fa fa-check-square-o" aria-hidden="true" style="margin-right: 6px;"></i>

                            <span ng-class="item.checked ? 'item-checked' : 'item-unchecked'">
                                {{item.text}}
                            </span>
                            <i ng-click="items.$remove(item)" class="fa fa-trash-o list-item-pref" aria-hidden="true" ng-hide="item.checked"></i>
                            <i ng-click="itemTimeClicked(item)" class="fa fa-clock-o list-item-pref" aria-hidden="true" ng-hide="item.checked"></i>
                        </div>

                    </li>
                </ul>

                <div class="no-items" ng-show="(items|filter:{dateItemGoesTo:day.moment}).length === 0">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                    Nothing for today!
                </div>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add..." ng-model="newItem">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addItem(newItem, day.moment); newItem = null">Add</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
