<h3>{{startMonth}} {{startOfWeek}} - {{endMonth}} {{endOfWeek}}
    <span class="weekNavButtons">
        <button class="btn btn-default" ng-click="previousWeek()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button class="btn btn-default" ng-click="nextWeek()">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </span>
</h3>
<hr>

<div class="week">
    <div ng-repeat="day in week" class="panel panel-default day" ng-class="{pastDay: day.type == 'past', presentDay: day.type == 'present', futureDay: day.type == 'future'}">{{checkDay(day)}}
        <div class="panel-heading">
            {{day.date}}
        </div>
        <div class="panel-body">
            {{day.content}}
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Add</button>
                </span>
            </div>
        </div>
    </div>
</div>
