<div class="container">
    <h1>Welcome to Weekly Planner!</h1>
    <hr>
    <p class="welcome-links">
        Weekly Planner is a simple and easy to use planner app that lets you plan out your week, and also have a list of your goals and accomplishments. You can create a list of goals in the <a href="#/objectives">Goals</a> tab, and then you can head over to your <a href="#/dashboard">Dashboard</a> to plan out what you need to do to reach those goals, and then once you've accomplished them, you can view your whole record under the <a href="#/achievements">Accomplishments</a> tab.
    </p>
    <p>
        Thanks for choosing Weekly Planner, and we hope you'll get lots of use out of it!
    </p>
    <p>
        Best Regards, <br>
        Christopher Spencer, Lead Developer
    </p>
    <a class="btn btn-default" href="#/">Get Started!</a>
</div>
