<div class="container">
    <h1>Welcome to Dashboard!</h1>
    <hr>
    <p class="welcome-links">
        Dashboard is a simple and easy to use goal managment app. You create a lits of goals in the <a href="#/objectives">Objectives</a> tab, and then you can head over to your <a href="#/dashboard">Dashboard</a> to plan out how many weeks you want to take to reach those goals, and what you need to do each day to get them done. After that you can check out your accomplishments under the <a href="#/achievements">Achievements</a> tab.
    </p>
    <p>
        Thanks for choosing Dashboard, and we hope you'll stick around and get those goals accomplished so you can live your dreams!
    </p>
    <p>
        Best Regards, <br>
        Christopher Spencer, Lead Developer
    </p>
    <a class="btn btn-default" href="#/">Get Started!</a>
</div>
