<div class="container">
    <h2>Goals</h2>
    <br>
    <div class="goals-container">
        <!-- Long term goals -->
        <div class="panel panel-danger goals-panel">
            <div class="panel-heading">
                Long Term Goals
                <span style="float: right;">
                    <span ng-show="goals.length == 1">1 Goal</span>
                    <span ng-show="goals.length != 1">{{goals.length}} Goals</span>
                </span>
            </div>
            <div class="panel-body">
                <ul class="goals-list">
                    <li class="goal" ng-repeat="goal in goals track by $index">

                        <div class="checkbox">

                            <i ng-show="!checked" ng-click="checked=!checked" class="fa fa-square-o" aria-hidden="true" style="margin-right: calc(15px/2);"></i>

                            <i ng-show="checked" ng-click="checked=!checked" class="fa fa-check-square-o" aria-hidden="true" style="margin-right: 6px;"></i>

                            <span ng-class="checked ? 'goal-checked' : 'goal-unchecked'">
                                {{goal.item}}
                            </span>

                            <span>{{checked ? addToAccomplishments(goal) : null}}</span>

                            <i ng-click="goals.$remove(goal)" class="fa fa-trash list-item-pref" aria-hidden="true"></i>

                            <span class="goal-date">{{goal.moment}}</span>

                        </div>

                    </li>
                </ul>

                <div class="no-items-large" ng-show="goals.length === 0">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                    You have no goals. Set some goals now!
                </div>

            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Set a new goal..." ng-model="item">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addGoal(item); item = null">Create Goal</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
