<div class="container">
    <h2>Goals</h2>
    <br>
    <div class="goalsContainer">
        <!-- Long term goals -->
        <div class="panel panel-default goalsPanel">
            <div class="panel-heading">
                Long term goals
            </div>
            <div class="panel-body">
                <ul class="goalsList">
                    <li class="goal" ng-repeat="goal in goals track by $index">
                        <div class="checkbox">
                            <input type="checkbox" value="" ng-model="value">
                            <span ng-class="value ? 'itemChecked' : 'itemUnchecked'">{{goal.item}}</span>
                            <span class="goalDate">{{goal.moment}}</span>
                        </div>
                    </li>
                </ul>
                <div class="no-goals" ng-show="goals.length === 0">
                    <i class="fa fa-frown-o" aria-hidden="true"></i>
                    <h3>You have no goals!</h3>
                    <h4>Set a goal now</h4>
                </div>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Set a new goal..." ng-model="goal">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addGoal(goal)">Create Goal</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
