<div class="container">
    <div class="loginContainer">
        <div class="signin">
            <form class="form-signin">
                <h2 class="form-signin-heading">Sign In</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signIn(email, password)">Sign In</button>
            </form>
        </div>

        <div class="divider"></div>

        <div class="signup">
            <form class="form-signup">
                <h2 class="form-signin-heading">Create Account</h2>
                <p class="accountInfo">Enter your email</p>
                <label class="sr-only">Email address</label>
                <input ng-model="newEmail" class="form-control" placeholder="Email address" required>
                <p class="accountInfo">Enter your password</p>
                <label class="sr-only">Password</label>
                <input ng-model="newPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-success btn-block signUpButton" type="submit" ng-click="signUp(newEmail, newPassword)">Sign Up</button>
            </form>
        </div>
    </div>
</div>
