<div class="container-fluid">
    <h2>Statistics</h2>
    <br>
    <div class="stats">
        <!-- Dashboard stats -->
        <div class="panel panel-info">
            <div class="panel-heading">
                Dashboard
            </div>
            <div class="panel-body">
                Status:
                <span class="item-info">Good!</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Tasks completed in the past month:
                    <span class="item-info">25</span>
                </li>
                <li class="list-group-item completed">
                    Total completed tasks
                    <span class="item-info">50</span>
                </li>
                <li class="list-group-item uncompleted">
                    Total uncompleted tasks
                    <span class="item-info">25</span>
                </li>
            </ul>
            <div class="panel-footer">
                Footer
            </div>
        </div>

        <!-- Goals -->
        <div class="panel panel-danger">
            <div class="panel-heading">
                Goals
            </div>
            <div class="panel-body">
                Status:
                <span class="item-info">Poor!</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Goals created in the past month:
                    <span class="item-info">5</span>
                </li>
                <li class="list-group-item completed">
                    Total completed goals
                    <span class="item-info">15</span>
                </li>
                <li class="list-group-item uncompleted">
                    Total uncompleted goals
                    <span class="item-info">10</span>
                </li>
            </ul>
            <div class="panel-footer">
                Footer
            </div>
        </div>

        <!-- Accomplishments stats -->
        <div class="panel panel-success">
            <div class="panel-heading">
                Accomplishments
            </div>
            <div class="panel-body">
                Status:
                <span class="item-info">Ok!</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Accomplishments in the past month:
                    <span class="item-info">5</span>
                </li>
                <li class="list-group-item">
                    Total accomplishments
                    <span class="item-info">50</span>
                </li>
            </ul>
            <div class="panel-footer">
                Footer
            </div>
        </div>

        <!-- Notes -->
        <div class="panel panel-warning">
            <div class="panel-heading">
                Notes
            </div>
            <div class="panel-body">
                Status:
                <span class="item-info">Good!</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Notes created in the past month:
                    <span class="item-info">25</span>
                </li>
                <li class="list-group-item">
                    Total created notes
                    <span class="item-info">50</span>
                </li>
            </ul>
            <div class="panel-footer">
                Footer
            </div>
        </div>
    </div>
</div>
